.App {
  display: flex;
  height: 95vh;
  width: 97vw;
  border: 1px solid black;
}
.Homepage {
  flex: 1;
  border: 1px solid lightblue;
  margin: 0.5%;
}
.EmployeePage {
  flex: 1;
  border: 1px solid brown;
  margin: 0.5%;
}
.Header {
  border: 1px solid blue;
  text-align: center;
  font-weight: bold;
  font-stretch: wider;
  font-size: 40px;
}
.SearchBarDiv {
  display: flex;
  width: 100%;
}
.SearchBar {
  width: 100%;
  height: 40px;
  font-size: 20px;
}
.EmployeeListItemDiv {
  display: flex;
  border: 1px solid red;
  height: 110px;
  box-sizing: border-box;
}
.EmployeeListItemPicDiv {
  display: flex;
  width: 20%;
  background-color: yellow;
  justify-content: center;
  align-content: center;
  overflow: auto;
}
.EmployeeListItemPic {
  max-height: 95%;
  max-width: 90%;
  align-self: center;
  border-radius: 50%;
  margin-left: 0.5%;
}
.EmployeeListItemTextDiv {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: left;
  box-sizing: border-box;
  margin-left: 0px;
  background-color: blueviolet;
  overflow: auto;
}
.EmployeeListItemTextDiv .Name {
  font-size: 30px;
  color: white;
  margin: 0px;
}
.EmployeeListItemTextDiv .Title {
  font-size: 20px;
  color: yellowgreen;
  margin: 0px;
}
.EmployeePageInfoDiv {
  display: flex;
  flex-direction: column;
  height: 91%;
}
.EmployeePageInfoDivTop {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
  height: 40%;
  box-sizing: border-box;
}
.EmployeePageInfoDivBottom {
  height: 60%;
  background-color: bisque;
}
.EmployeePageInfoPicDiv {
  display: flex;
  width: 40%;
  justify-content: center;
  align-content: center;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
}
.EmployeePageInfoPic {
  border-radius: 50%;
  width: 60%;
}
.EmployeePageInfoTextDiv {
  width: 60%;
}
.EmployeePageInfoName {
  color: blue;
  font-size: 40px;
  font-weight: bold;
}
.EmployeePageInfoTitle {
  color: blue;
  font-size: 25px;
}
.EmployeeInfo {
  display: flex;
  flex-direction: column;
  border: 1px solid burlywood;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
}
.EmployeeInfo > * {
  margin: 0px;
}
.heading {
  font-weight: bold;
}
